/* 
fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
color:
#043873
#FFE492
#4F9CF9
*/
/* 
Google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* 
Basic CSS
*/
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #999;
    color: #fff;
    line-height: 1.7;
}
.theme-button{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
.theme-button:hover{
    color: #fff;
    background-color: #043873;
}
.theme-button-two{
    display: inline-block;
    background: #FFE492;
    color: #043873 !important;
    border-radius: 8px;
    padding: 16px 24px !important;
}
.theme-button-three{
    display: inline-block;
    background: #fff;
    border: 1px solid #FFE492;
    color: #043873 !important;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
}
.theme-button img{
    margin-left: 10px;
}
.theme-text h3 {
    font-size: 68px;
    color: #212529;
    margin-bottom: 15px;
}
.theme-text p {
    color: #212529;
}
.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(img/element.png);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 991px){
    .theme-text{
        text-align: center;
    }
    .theme-text h3 {
        font-size: 36px;
    }
}

/* 
Header CSS
*/
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .theme-button{
    margin-left: 24px;
}
.header-area .theme-button-two{
    margin-left: 24px;
}
.header-area .nav-link{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}

@media (max-width: 991px){
    .theme-button{
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }
    .theme-button-two{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    }
    .header-area .nav-link{
        padding: 16px 0 !important;
    }
    .header-area .nav-link{
        position: relative;
    }
    .header-area .nav-link::after{
        position: absolute;
        right: 28px;
        top: 50%;
        transform: translateY(-50%);
    }
    .header-area .theme-button{
        margin-left: 0;
    }
    .header-area .theme-button-two{
        margin-left: 0;
    }
}

/* 
Hero area CSS
*/
.hero-area{
    background-image: url(img/hero-bg.png);
    padding: 140px 0;
    background-size: cover;
    background-position: center;
}
.hero-text h3 {
    font-weight: 700;
    font-size: 52px;
}
.hero-area .theme-button{
    margin-top: 30px;
}
@media (max-width: 991px){
    .hero-area{
        padding: 80px 0;
    }
    .hero-text{
        text-align: center;
    }
    .hero-text h3 {
        font-size: 36px;
    }
    .hero-area .theme-button{
        margin-bottom: 50px;
    }
}

/* 
Management area CSS
*/
.management-area{
    background-color: #fff;
    padding: 140px 0;
}
.work-management{
    margin-top: 100px;
}

@media (max-width: 991px){
    .management-area{
        background-color: #fff;
        padding: 80px 0;
    }
    .work-management{
        margin-top: 60px;
    }
    .management-area .theme-button{
        margin-bottom: 50px;
    }
}

/* 
Extansion area CSS
*/
.extension-area{
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theme-text h3 {
    color: #fff;
}
.extension-area .theme-text p {
    color: #fff;
}

@media (max-width: 991px){
    .extension-area .theme-button{
        margin-bottom: 50px;
    }
    .extension-area{
        padding: 80px 0;
    }
}

/* 
Customise area CSS
*/
.customise-area{
    background-color: #fff;
    padding: 140px 0;
}

@media (max-width: 991px){
    .customise-area{
        padding: 80px 0;
    }
}

/* 
Pricing area CSS
*/
.pricing-area{
    padding: 140px 0;
    background-color: #fff;
}
.pricing-area .theme-text{
    margin-bottom: 60px;
}

.single-pricing{
    color: #212529;
    border: 1px solid #FFE492;border-radius: 10px;
    padding: 40px 44px;
}
.single-pricing h4 {
    font-size: 24px;
    font-weight: 500;
}
.single-pricing h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0;
}
.single-pricing ul{
    margin: 0;
    padding: 0;
    margin: 25px 0;
}
.single-pricing ul li{
    list-style: none;
    margin-bottom: 28px;
}
.single-pricing ul li:last-child{
    margin: 0;
}
.special-pricing{
    padding: 80px 40px;
    background-color: #043873;
    color: #fff;
}
.special-pricing h2 {
    color: #FFE492;
}

@media (max-width: 991px){
    .pricing-area{
        padding: 80px 0;
    }
    .single-pricing{
        margin-bottom: 30px;
    }
}

/* 
work area CSS
*/
.your-work-area{
    padding: 140px 0;
    background-color: #043873;
}
.your-work-area .theme-text h3 {
    color: #fff;
}
.your-work-area .theme-text p {
    color: #fff;
}
@media (max-width: 991px){
    .your-work-area{
        padding: 80px 0;
    }
    .your-work-area{
        margin-bottom: 30px;
    }
}
/* 
task area CSS
*/

.your-task-area{
    padding: 140px;
    background-color: #fff;
}
@media (max-width: 991px){
    .your-task-area{
        padding: 80px 0;
    }
}
/* 
Sponsors area CSS
*/

.sponsors-area{
    padding: 140px 0;
    background-color: #fff;
}
.sponsors-area .theme-text{
    margin-bottom: 80px;
}
.single-sponsor img{
    height: 55px;
    width: auto;
}
@media (max-width: 991px){
    .sponsors-area{
        padding-top: 80px 0;
        padding-bottom: 30px;
    }
    .single-sponsor{
        margin-bottom: 50px;
    }
}
/*
apps area css
*/
.apps-area {
    padding: 140px 0;
    background-image: url(img/apps\ bg.png);
     background-position: center;
     background-size: cover;
}

.apps-area .theme-text h3 {
    color: #ffffff;
}
.apps-area .theme-text p {
    color: #ffffff;
}

@media (max-width: 991px){
.apps-area {
    padding: 80px 0; 
    margin-bottom: 50px;   
} 
.apps-area .theme-text h3{
    padding-top: 40px;
    font-size: 50px;
}
}

/*
start testimonial area css
*/
.testimonial-area {
    padding: 140px 0;
    background-color: #ffffff !important;
}
.single-testimonial {
background: #4F9CF9;
box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 60px 40px;
color: #212529;
}
.testimonial-text p {
    border-bottom: 1px solid cornflowerblue;
    margin-bottom: 40px;
}
.testimonial-text img {
    margin-bottom:30px;
}
.author-img {
    margin-right: 25px;
}
.author-text  h3 {
    font-size: 24px;
    color: #212529;
}
.author-text p {
    margin-bottom: 0;
    color: #ffffff;
}


.testimonial-area .owl-dots {
    text-align: center;
    margin-top: 50px;
}
.testimonial-area .owl-dots button {
    height: 15px;
    width: 15px;
    background-color: #4F9CF9 !important;
    border-radius: 50%;
    margin: 5px;
}

@media (max-width: 991px){
.testimonial-area {
padding:80px 0 ;
    }
}